@import "tailwindcss";

:root {
  --primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
}

@layer base {
  :root {
    --tw-color-primary: 19 127 236;
    --tw-color-background-light: 246 247 248;
    --tw-color-background-dark: 16 25 34;
  }

  .bg-background-light {
    background-color: rgb(246 247 248);
  }

  .text-primary {
    color: var(--primary)
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .dark .dark\:bg-background-dark {
    background-color: rgb(16 25 34);
  }

  .font-display {
    font-family: Inter, system-ui, sans-serif;
  }
}

* {
  scroll-behavior: smooth;
}